/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  color: #1F1E0A;
}
a {
  text-decoration: none;
  color: #00A1C6
}
a:hover {
  text-decoration: underline;
}


body{
  font-family: 'FreeSans', Arial, Helvetica, sans-serif;
  background-color: rgba(255,255,255,0.98);
}
.header-nav, .thin-header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: white;
  box-sizing: border-box;

}

.header-nav, .header-nav-dummy{
  padding: 18px 0;
}

.thin-header-nav, .thin-header-nav-dummy{
  padding: 5px 0px;
}

.header-nav-dummy, .thin-header-nav-dummy {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.header-dropdown{
  position: absolute;
  background: white;
  width: 220px;
  right: 12px;
  top: 44px;
  font-size: 15px;
  border: #EEE 1px solid;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.header-dropdown > *{
  line-height: 32px;
  /* height: 32px; */
  padding: 0 20px;
  cursor: default;
}

.header-dropdown>*:hover{
  background: #EEEEEE;
}

.header-dropdown-cmpd{
  line-height: 20px;
  padding-top: 10px;
}

.header-dropdown-secondary{
  font-size: 12px;
}

.dropdown-name{
  font-weight: bold;
}

.header-logo{
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: "Yanone Kaffeesatz";
  display: block;
  white-space: nowrap;
  position: absolute;
  left: 15px;
  top: 16px;
}

.header-logo-big{
  color: black;
  font-size: 22px;
  font-weight: bold;
  font-family: "Yanone Kaffeesatz";
  display: block;
  white-space: nowrap;
  position: absolute;
  left: 15px;
  top: 16px;
}

.directly-support{
  position: absolute;
  left: 15px;
  bottom: 18px;
}

.blue-highlight{
  font-weight: bold;
  background: -webkit-linear-gradient(left,  #052254, #9E036A);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}


.header-logo:hover{
  text-decoration: none;
}


.header-links{
  margin-left: auto;
  width: 300px;
  display: flex;
  box-sizing: border-box;
  position: relative;
  left: 16px;
}

.demo-button{
  background: gold;
  margin: 5px 0 0 0;
}


.modal-form {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -220px;
  width: 430px;
  /* padding: 20px; */
  background: #fff;
  z-index: 5;
  border-radius: 5px;
}

.selector-modal{
  height: 270px;
}


.login-form{
  color: #333;
  align-items: center;
}

.modal-form .login-form{
  padding: 0 40px;
}

.login-page{
  background-color: #F3F3F3;
}
.signup-header{
  text-align: center;
  color: #2e3332;
  font-size: 18px;
  padding: 15px 20px 12px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ededed;
  width: 100%;
  box-sizing: border-box; 
  border-radius: 5px;
}


.errors {
  color: #c43329;
  width: 430px;
  display: block;
  margin-top: 2px;
}

.red-border {
  border: 1px solid #c43329;
}

input {
  height: 35px;
  padding-left: 10px;
  border-radius: 0;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  /* margin: 0 0 13px 0; */
}

input:focus{
  border-color: #00A1C6;
}

.session-submit {
  background-color: #00A1C6;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  box-sizing: border-box;
  margin: 10px 0px;
}

.login-hint {
  width: 100%;
  margin: 23px 0 30px 0;
  font-size: 12px;
  color: #818285;
  text-align: center;
}

.login-content{
  width: 650px;
  min-height: 380px;
  margin: 0 auto;
  padding: 40px 0px 60px;
  display: flex;
  align-items: center;
}

.login-header{
  margin: 15px 0px auto;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.login-divider{
  margin: 36px 0px 28px;
  border-top: 2px dotted #ccc;
}
.login-input{
  width: 300px;
  margin: 0 auto;
}

.login-label{
  width: 155px;
  text-align: right;
  margin-right: 16px;
  vertical-align: middle;
  padding:7px 0px;
}


.input-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
}

.outer-input-wrapper{
  width: 100%;
  margin: 20px 0px;
}
.inner-input-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 60px;
  clear: both;
}
.login-page-top{
  background-color: #DDDDDD;
  width: 100%;
  height: 90px;
  padding: 10px;
  box-sizing: border-box;
}
.login-submit {
  background-color: #00A1C6;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  box-sizing: border-box;
  margin: 8px 0 0 0;
  width: 300px;
  
}



.vamp{
  color: #9e036a;
}

.parallelogram{
  width: 26px;
  height: 15px;
}

.footer{
  width: 100%;
  height: 100px;
  background-color: #477987;
  color: #fff;
  font-weight: 800;
  font-size: 13px;
  padding: 30px;
  bottom: 0;
  position: absolute;
  box-sizing: border-box;
}

.acknowledgement{
  color: #fff;
}

.height-33-wrapper {
  width: 100%;
  height: 33px;
  display: flex;
  justify-content: center;

}

.button-link{
  width: 250px;
  height: 33px;
  display: block;
  border-radius: 3px;
  padding: 8px 0 7px 0;
  margin: 45px 0;
  font-size: 15px;
  font-weight: 500;
  box-sizing: border-box;
  display:flex;
  justify-content: center;
  cursor: pointer;
}

.pad60{
  height: 60px;
}

.a1c6 {
  border: #00A1C6 1px solid;
  color: #00A1C6;
}

.pea-green{
  border: #6E943B 1px solid;
  color: #6E943B;
}

.black-link, .demo{
  color: #161113;
  font-weight: 600;
  font-size: 14px;
  margin-left: 20px;
  margin-top: 6px;
  cursor: pointer;
  display: inline-block;
}

.demo{
  margin-left: 0;
}

.header-nav-right{
  margin: 0 0 0 auto;
  /* width: 34vw; */
  display: flex;
}

.header-nav-right-padding{
  width: 5vw;
}

.search-bar{
  float: right;
  display: block;
  width: 300px;
  background-color: #F3F3F3;
  margin-bottom: 4px;
  font-size: 14px;
  cursor: text;
  border: none;
  border-radius: 3px;
}

.search-bar:focus {
  border-color: #ccc;
}



.search-bar-wrapper{
  height:35px;
  display:flex;
  width: 317px;
}

.pad42{
  width: 100%;
  display: block;
  height: 42px;
}
.pad15{
  width: 100%;
  display: block;
  height: 15px;
}
.pad12{
  width: 100%;
  display: block;
  height: 12px;
}

.black-link-container{
  margin-left: auto;
}

.black-link:hover, .demo:hover{
  text-decoration: underline;
}

.album-inputs-right{
  margin-left: auto;
  width: 380px;
}


.album-inputs-left{
  width: 550px;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 30px;
}

.album-page{
  width: 790px;
}

.album-columns-container{
  width: 100%;
  display: flex;
}

.album-page-c1{
  width: 375px;
  margin: 10px;
}

.album-page-c2{
  width: 350px;
}

.album-cover{
  height: 100%;
  display: block;
  margin-left: 10px;
}

.album-cover-wrapper{
  width: 350px;
  height: 350px;
  overflow: hidden;
  margin:0;   
}

.banner-wrapper{
  width: 975px;
  max-height: 180px;
  min-height: 40px;
  overflow: hidden;
  margin:0;   
}

.banner{
  width: 100%;
  display: block;
}

.float-right{
  float: right;
}



.search-icon{
  position: relative;
  left: 290px;
  top: 9px;
  height: 16px;
}

.acknowledgement{
  font-size: 11px;
}

.grid-container {
  display: grid;
  grid-template-columns: 325px 325px 325px;
  grid-template-rows: 325px 325px 325px;
  
}

.grid-item {
  
  width: 325px;
  margin: 0;
  overflow: hidden;

  /* max-width: 100%; */
}

.album-small {
  
  height: 100%;
}

.album-form{width: 900px;
display: flex;
margin: 0 auto;}

.track-inputs{
  min-height: 220px;
}

.track-inputs input{
  width: 300px;
}

.save-draft {
  color: white;
  background-color: #0687f5;
  height: 33px;
  width: 110px;
  display: block;
  border-radius: 3px;
  margin: 45px 0;
  font-size: 15px;
  font-weight: 500;
  box-sizing: border-box;
  display:flex;
  justify-content: center;
}

.publish {
  color: white;
  background-color: #0ec200;
  height: 33px;
  width: 110px;
  display: block;
  border-radius: 3px;
  margin: 45px 15px;
  font-size: 15px;
  font-weight: 500;
  box-sizing: border-box;
  display:flex;
  justify-content: center;
}
.search-logout{
  display:grid;
  grid-template-columns: 300px;
  margin-right: 40px;
}

.logout{margin-left: auto;
border: none;
background-color: inherit;
font-weight: 550;
cursor: pointer;
margin-top: 16px;}

.add-track{
 color: #0687f5;
 font-size: 22px;
 background-color: inherit;
 border: none;
 cursor: pointer;
 width: 140px;
}

.add-track:hover {
  text-decoration: underline;
}

.album-submit-buttons{
  display: flex;
}

.hidden-input{
  display:none;
}

.album-title-input{
  width: 100%;
  font-size: 22px;
  margin: 0 0 3px 0;
  height: 38px;
}
.album-description-input{
  width: 100%;
  font-size: 13px;
  margin: 0 0 3px 0;
  height: 56px;
}

.song-link{
  margin: 8px 0;
  cursor: pointer;
}

.song-link:hover {
  text-decoration: underline;
}

.current-song {
  width: 300px;
  text-align: center;
  margin: 0 0 0 20px;
}

.band-name{
  font-size: 26px;
  display: inline-block;
  margin-right: 120px;
}

.band-page-body{
  background-color: white;
  padding: 25px;
}

.band-page-columns-container{
  display: flex;
  width: 915px;
}

.band-column-3{
  width: 170px;
  padding: 40px;
}

.band-column-3 > *{
  width: 120px;
  box-sizing: border-box;
  margin-top: 8px;
}

.band-name-col-3{
  font-weight: 600;
}

.song-links{
  margin-top: 30px;
}
.link-to-create-album-page{
  font-size: 22px;
}

.album-to-band{
  color:black;
}

.couple-albums{
  display: grid;
  grid-template-columns: 325px 325px;
  grid-template-rows: 325px 325px;
  grid-column-gap: 20px;
}

.dropdown {
  position: relative;
  /* display: inline-block; */
}

.dropdown-content {
  /* display: none; */
  position: absolute;
  background-color: #f9f9f9;
  width: 300px;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding-top: 5px;
  z-index: 1;
}

/* .dropdown:hover .dropdown-content {
  display: block;
} */

.search-result-link{
  cursor: default;
  padding-top: 5px;
  background-color: white;
}

.search-result-link:hover{
  background-color: #F3f3f3;
}

.showcase-pics-container{
  margin: 0px 2px;
  display: flex;
}
.showcase-large{
  position: relative;
}
.showcase-large-pic{
  height: 39vw;
   filter: brightness(80%);
}
.showcase-pic-main-text{
  color:  white;
  font-size: 2.6vw;
  font-weight: 550;
  position: absolute;
  top: 26vw;
  left: 10vw;
}

.ball{
  /* background-color: #408ea3; */
    background: -webkit-linear-gradient(left,  #052254, #9E036A);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 2px;
    right: 1px;}

.ball-hoversquare{
  margin: -10px -15px;
  padding: 10px 15px;
}

.ball-hoversquare:hover{
  background-color:#e1eef2;
}

.ball-hoversquare-container{
  margin: 0px 40px;
}

.read-more-container{
  color: black;
  position: absolute;
  font-weight: 600;
  top: 30vw;
  left: 10vw;
  border: solid black 2px;
  border-radius: 10px;
  opacity: .85;
}



.read-more{
  text-align: center;
  padding: 1px 4px;
  color: black;
  opacity: .85;
}


.fan-bio-right{
  margin: 30px 0px 30px 30px;
}
.read-more-external-link{
  text-align: center;
  font-style: italic;
  padding: 1px 5px;
  color: #bfb4b4;
  margin-bottom: 2px;
  font-size: 13px;
}

.small-pics-container{
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: .1vw;
  overflow:hidden;
  margin-left: 0 auto;
  height: 39vw;

}

.small-pic{
  height: 12.9vw;
  background-size: auto 13vw;
  filter: brightness(70%);
}

.small-pic-bright{
  height: 12.9vw;
  background-size: auto 13vw;
  filter: brightness(80%);
}


.small-pic-item{
  height: 13vw;
  margin-left: 2px;
}

.small-pic-text{
  position: relative;
  color: white;
  bottom: 9vw;
  font-weight: 600;
  padding: 0px 9px;
  font-size: 1.7vw;
  cursor: default;
}
  
#App{
  min-height: 100%;
  position: relative;
}

#App-body{
  padding-bottom: 100px;
  min-height: -webkit-fill-available;
}

.band-page-content{
  width: 975px;
  margin: 0 auto;
}

.album-title-large{font-size: 28px;}

.album-120{
  width: 120px;
}

.hpad-20{
  width: 20px;
}

.band-photo{
  width: 120px;
}

.band-albums > *{margin-top: 8px;}

.fave-5 {
    width: 97%;
    max-width: 1106px;
    min-height: 400px;
    margin: 0 auto;
}

.fave-5 img{
  cursor: pointer;
}
.fave-single-wrapper{
  float: left;
  width: 18.625678119349%;
  max-width: 206px;
  margin-left: 1.7179023508%;
  height: 400px;
  background-color: #fff;
}

.fave-single-wrapper1{
  float: left;
  width: 18.625678119349%;
  max-width: 206px;
  cursor: pointer;
  height: 400px;
  background-color:#fff;
}

.fave-genre{
  display: block;
  line-height: 18px;
  margin: 0;
  padding: 0 10px;
  color: #999;
  font-size: 12px;
}


.row {
  width: 97%;
  max-width: 1106px;
  margin: 0 auto;
}

.fave-5 img{
  width: 100%;

  max-width: 206px;

  
}
.splash-section-header{
  color: #408ea3;
  font-size: 14px;
  font-weight: 500;
  margin: 18px 0;
  text-transform: uppercase;
  display: inline-block;}

  .paused{
    display: inline-block;
    margin-left: 25px;
  }

  .blue-body{
    background-color: #eef2f3;
    padding: 2vw 0vw;
  }

  .fave-title{
    display: block;
    line-height: 18px;
    margin-top: 9px;
    padding: 0 10px;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
  }

  .fave-title-and-band:hover{
    text-decoration: underline;
  }

  .fave-band-name{
    display: block;
    line-height: 18px;
    padding: 0 10px;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
  }

  .fave-note{
    line-height: 18px;
    font-size: 13px;
    padding: 0 10px;
    font-family: Georgia, Times, serif;
  }

  .playpause-btn {
    height: 52px;
    width: 56px;
    border: 1px solid #d9d9d9;
    background: #fff;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    margin: 10px 10px 0 0;
  }
  
  .playpause-icon {
    font-size: 20px;
  }
  
  .slider{
    position: relative;
    bottom: 11px;
    width: 24px;
    height: 12px;
    box-sizing: border-box;
    border: 1px solid #bebebe;
    background: #fff;
    border-radius: 1px;
    cursor: pointer;
  }

  .music-player-controls{
    display: flex;
  }

  #progress-bar-container{
    padding: 19px 0px;
  }

  .progress-bar{
    width: 250px;
    height: 10px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    margin-top: 10px;
  }

  .track-info{
    font-size: 12px;
  }

  .flex{
    display: flex;
  }


  .prev-btn, .next-btn {
    font-size: 14px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #000;
    margin: 0;
    position: relative;
    top: 2px;
  }

  button:disabled i{
    color: gray;
}

.band-desc{
  font-size: 12px;
}

.more-less{
  color: #0687F5;
  cursor: pointer;
}
.more-less:hover{
  text-decoration: underline;
}

.link{
  cursor: pointer;
}

.link:hover{
  text-decoration: underline;
}

.link-color{
  color: #00A1C6;
}

  .fan-banner{
    background: linear-gradient(135deg,  black 0%, #9E036A 100%);
    height: 100px;
  }

  .fan-bio-photo{
    display: inline-block;
    vertical-align: top;
    width: 210px;
    /* height: 210px; */
    margin: -30px 38px 0 0;
  }

  .fan-bio{
    margin-left: 90px;
    padding-bottom: 14px;
    display: flex;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: rgba(0,0,0,0.55)
  }

  .fanpage-name{
    font-size: 25px;
    margin-bottom: 22px;
    margin-right: 15px;
    display: inline-block;
  }

  .fanpage-about{
    font-size: 15px;
    width: 300px;
  }

  .link-tabs{
    display: flex;
    margin: 30px;
  }

  .link-tab{
    margin: 0 30px;
  }

  .link-tab:hover{
    text-decoration: none;
    border-bottom: 2px solid;
  }

  .collection-album{
    width: 210px;
  }

  .collection-item{
    margin: 0 auto;
    width: 210px;
  }

  .collection-container{
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    display: grid;
    grid-row-gap: 20px;
    margin-bottom: 30px;
  }

  .collection-alb-name{
    font-size: 14px;
    font-weight: bold;
  }

  .collection-band-name{
    font-size: 12px;
  }

  .selected-tab{
    color: black;
    border-bottom: #000 solid 2px;
  }

  .follow-item-pic{
    width: 70px;
  }

  .follow-item-pic-wrapper{
    margin: 5px 15px;
  }

  .follows-container{
    grid-template-columns: repeat( auto-fit, minmax(240px, 1fr) );
    display: grid;
    grid-row-gap: 20px;
    margin: 0 80px 30px 80px;
  }

  .follow-item{
    display: flex;
  }

  .follow-1{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    color: #828282;
    cursor: pointer;
  }

  .following-2, .follow-2{
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    background: #619aa9;
    color: #fff;
    border-radius: 3px;
    padding: 6px 5px 5px 5px;
    text-align: center;
  }

   .unfollow-2{
    color: #fff;
  }

  .fan-follow-name{
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    margin: 12px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 135px;
  }

  .unfollow-1{
    border-radius: 5px;
    padding: 7px;
    border: 1px solid #939497;
    padding: 7px 10px 6px 10px;
  }

  .sign-log-wrapper{
    display: flex;
    margin: 0 auto;
    margin-top: 25px;
    width: 400px;
    justify-content: space-between;
  }


  .to-follow-modal{
    width: 500px;
    padding: 25px 40px; 
  }

  .sign-log-sign{
    background-color: #00A1C6;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    width: 180px;
    cursor: pointer;
  }

  .sign-log-log{
    background-color: #fff;
    border-radius: 4px;
    color: #00A1C6;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    width: 180px;
    border: 1px solid #00A1C6 ;
    cursor: pointer;
  }

  .or-demo{
    display: inline-block;
    padding-top: 20px;
  }

  .ta-center{
    /* text-align: center; */
  }

  
  .center-500{
    margin: 0 auto;
    width: 500px;
  }

  .bottom-50{
    margin-bottom: 50px;
  }

  .desc-text{
    width: 350px;
    min-height: 100px;
  }

  .collection-topper{
    margin-right: 30px;
    margin-top: 16px;
  }

  .pointer{
    cursor: pointer;
  }

  .hint{
    font-size: 12px;
    color: #929292;
  }

  .hint *{
    color: #929292;
  }

  .save-button{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    background-color: rgb(0,161,198);
    padding: 8px 0;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    float:left;
  }

  .cancel{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: rgb(0,161,198);
    padding: 8px 20px;
    display: inline-block;
  }

  .digital-1{
    font-size: 14px;
    font-weight: bold;
  }

  .digital-2{
    font-size: 12px;
    margin: 5px 0;
  }

  .buy-digital-album{
    font-size: 18px;
    color: #619aa9;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 12px;
    cursor: pointer;
  }

  .file-input{
    width: .1px;
    height: .1px;
    z-index: -1;
    bottom: 0;
    padding: 0;
    position: absolute;
  }

  .replace-photo{
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
  padding: 10px;
  width: 210px;
  border: 1px solid silver;
  box-sizing: border-box;
  text-align: center;
  color: #1DA0C3;
    font-weight: bold;
}
  
.edit-profile{
  border: 1px solid #939497;
    border-radius: 5px;
    outline: none;
    background: white;
    color: #828282;
    font-weight: 500;
    padding: 5px 9px;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    position: relative;
    bottom: 5px;
}

.edit-profile i{
  color: #939497;
  margin-right: 4px;
}

.about-you{
  margin: 0 0 6px 0;
}

.fa-heart{
  color: #b51414
}

.you-own-this{
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0;
}

.small-result-left{
  width: 52px;
  margin: 0px 8px;
}

.small-result-right{
  display: inline-block;
  font-size: 11px;
  vertical-align: top;
}

.small-result-right > *{
  margin-bottom: 6px;
}

.result-title{
  font-weight: bold;
}

.result-type{
  text-transform: uppercase;
}

.carousel-item{
  display: inline-block;
  width: 11.3924%;
  transition: width .3s ease-out;
  vertical-align: top;
  margin-left: 1.2658%;
  font-size: 11px;
  padding-top: 6px;
}

.carousel-item-inner > div{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
}

.carousel-item-inner{
  padding: 6px;
  margin: -6px;
  transition: background-color 0.4s;
}

.carousel-item-inner:hover{
  background-color: #d9f1fa;
}

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.carousel-img{
  width: 100%;
}

.zero, .one{
  margin-left: 0;
}

.zero{
  width: 0;
}

.zero *{
  display: none;
}



.carousel{
  width: 97%;
  max-width: 1106px;
  margin: 0 auto;
  overflow: hidden;
  min-height: 10vw;
  white-space: nowrap;
  padding-bottom: 2vw;
}

.carousel *{
  color: black;
}


.time-log{
  color: #929292;
}

.fave-5 div{
  color: black;
}

.showcase-section-2{
  padding-top: 3vw;
}

.x{
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  color: #9c9c9c;
}

.x:hover{
  color: rgb(20, 20, 20);
}