/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}
a {
  text-decoration: none;
  color: #00A1C6
}
a:hover {
  text-decoration: underline;
}

body{
  font-family: 'FreeSans', Arial, Helvetica, sans-serif;
  background-color: rgba(255,255,255,0.98);
}
.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100vw;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: white;
  padding-bottom: 12px;

}

.header-nav-dummy {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100vw;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  top: 0;
  left: 0;
  padding-bottom: 12px;
}

.header-logo{
  margin: 16px 0 0 15vw;
  padding: 1vw;
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: "Yanone Kaffeesatz";
  display: block;
}


.header-logo:hover{
  text-decoration: none;
}


.header-links{
  margin-left: auto;
  width: 280px;
  display: flex;
  box-sizing: border-box;
}

.demo-button{
  background: gold;
  margin: 5px 0 0 0;
}


.modal-form {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -220px;
  width: 430px;
  /* padding: 20px; */
  background: #fff;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #000;
}

.selector-modal{
  height: 270px;
}


.login-form{
  padding: 0px 40px;
  color: #333;
  align-items: center;
}

.login-page{
  background-color: #F3F3F3;
}
.signup-header{
  text-align: center;
  color: #2e3332;
  font-size: 18px;
  padding: 15px 20px 12px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ededed;
  width: 100%;
  box-sizing: border-box; 
}


.errors {
  color: #c43329;
  width: 430px;
  display: block;
  margin-top: auto;
}

.red-border {
  border: 1px solid #c43329;
}

input {
  height: 35px;
  padding-left: 10px;
  border-radius: 0;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  /* margin: 0 0 13px 0; */
}

input:focus{
  border-color: #00A1C6;
}

.session-submit {
  background-color: #00A1C6;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  box-sizing: border-box;
  margin: 15px 0px;
}

.login-hint {
  width: 100%;
  margin: 23px 0 30px 0;
  font-size: 12px;
  color: #818285;
  text-align: center;
}

.login-content{
  width: 650px;
  min-height: 380px;
  margin: 0 auto;
  padding: 40px 0px 60px;
  display: flex;
  align-items: center;
}

.login-header{
  margin: 15px 0px auto;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.login-divider{
  margin: 36px 0px 28px;
  border-top: 2px dotted #ccc;
}
.login-input{
  width: 300px;
  margin: 0px 155px 0 0;
}

.login-label{
  width: 155px;
  text-align: right;
  margin-right: 16px;
  vertical-align: middle;
  padding:7px 0px;
}


.input-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 90px;
}

.outer-input-wrapper{
  width: 100%;
  vertical-align: top;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
}
.inner-input-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 60px;
  clear: both;
}
.login-page-top{
  background-color: #DDDDDD;
  width: 100%;
  height: 90px;
  padding: 10px;
  box-sizing: border-box;
}
.login-submit {
  background-color: #00A1C6;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  box-sizing: border-box;
  margin: 15px 0 0 20px ;
  width: 300px;
  
}



.vamp{
  color: #9e036a;
}

.parallelogram{
  width: 26px;
  height: 15px;
}

.footer{
  width: 100%;
  height: 60px;
  background-color: #477987;
  color: #fff;
  font-weight: 800;
  font-size: 13px;
  padding: 30px;
}

.height-33-wrapper {
  width: 100%;
  height: 33px;
  display: flex;
  justify-content: center;

}

.button-link{
  width: 250px;
  height: 33px;
  display: block;
  border-radius: 3px;
  padding: 8px 0 7px 0;
  margin: 45px 0;
  font-size: 15px;
  font-weight: 500;
  box-sizing: border-box;
  overflow: auto;
  display:flex;
  justify-content: center;
}

.pad60{
  height: 60px;
}

.a1c6 {
  border: #00A1C6 1px solid;
  color: #00A1C6;
}

.pea-green{
  border: #6E943B 1px solid;
  color: #6E943B;
}

.black-link{
  color: #161113;
  font-weight: 600;
  font-size: 14px;
  margin-left: 20px;
}

.header-nav-right{
  margin: 0 0 0 auto;
  /* width: 34vw; */
  display: flex;
}

.header-nav-right-padding{
  width: 16vw;
  position: relative;
}

.search-bar{
  float: right;
  /* margin-left: auto; */
  display: block;
  width: 280px;
  background-color: #F3F3F3;
  margin-bottom: 4px;
  font-size: 14px;
}

.search-bar:focus {
  border-color: #ccc;
}



.search-bar-wrapper{
  height:35px;
  margin: 15px 0 0 0;
  display:flex;
}

.pad42{
  width: 100%;
  display: block;
  height: 42px;
}
.pad15{
  width: 100%;
  display: block;
  height: 15px;
}
.pad12{
  width: 100%;
  display: block;
  height: 12px;
}

.black-link-container{
  margin-left: auto;
}

.album-inputs-right{
  margin-left: auto;
  width: 380px;
}


.album-inputs-left{
  width: 550px;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 30px;
}

.album-page{
  width: 790px;
}

.album-columns-container{
  width: 100%;
  display: flex;
}

.album-page-c1{
  width: 375px;
  margin: 10px;
}

.album-page-c2{
  width: 350px;
}

.album-cover{
  height: 100%;
  display: block;
}

.album-cover-wrapper{
  width: 350px;
  height: 350px;
  overflow: hidden;
  margin:0;   
}

.banner-wrapper{
  width: 975px;
  max-height: 180px;
  min-height: 40px;
  overflow: hidden;
  margin:0;   
}

.banner{
  width: 100%;
  display: block;
}

.float-right{
  float: right;
}



.search-icon{
  position: relative;
  right: 27px;
  top: 9px;
  height: 16px;
}

.acknowledgement{
  font-size: 11px;
}

.grid-container {
  display: grid;
  grid-template-columns: 325px 325px 325px;
  grid-template-rows: 325px 325px 325px;
  
}

.grid-item {
  
  width: 325px;
  margin: 0;
  overflow: hidden;

  /* max-width: 100%; */
}

.album-small {
  
  height: 100%;
}

.album-form{width: 900px;
display: flex;
margin: 0 auto;}

.track-inputs{
  min-height: 220px;
}

.track-inputs input{
  width: 300px;
}

.save-draft {
  color: white;
  background-color: #0687f5;
  height: 33px;
  width: 110px;
  display: block;
  border-radius: 3px;
  padding: 8px 0 7px 0;
  margin: 45px 0;
  font-size: 15px;
  font-weight: 500;
  box-sizing: border-box;
  overflow: auto;
  display:flex;
  justify-content: center;
}

.publish {
  color: white;
  background-color: #0ec200;
  height: 33px;
  width: 110px;
  display: block;
  border-radius: 3px;
  padding: 8px 0 7px 0;
  margin: 45px 15px;
  font-size: 15px;
  font-weight: 500;
  box-sizing: border-box;
  overflow: auto;
  display:flex;
  justify-content: center;
}
.search-logout{
  display:grid;
  grid-template-columns: 300px;
}

.logout{margin-left: auto;
border: none;
background-color: inherit;
font-weight: 550;}

.add-track{
 color: #0687f5;
 font-size: 22px;
 background-color: inherit;
 border: none;
 cursor: pointer;
 width: 140px;
}

.add-track:hover {
  text-decoration: underline;
}

.album-submit-buttons{
  display: flex;
}

.hidden-input{
  display:none;
}

.album-title-input{
  width: 100%;
  font-size: 22px;
  margin: 0 0 3px 0;
  height: 38px;
}
.album-description-input{
  width: 100%;
  font-size: 13px;
  margin: 0 0 3px 0;
  height: 56px;
}

.song-link{
  margin: 8px 0;
  cursor: pointer;
}

.song-link:hover {
  text-decoration: underline;
}

.current-song {
  width: 300px;
  text-align: center;
  margin: 0 0 0 20px;
}

.band-name{
  font-size: 26px;
  display: inline-block;
  margin-right: 120px;
}

.band-page-body{
  background-color: white;
  padding: 25px;
}

.band-page-columns-container{
  display: flex;
  width: 915px;
}

.band-column-3{
  width: 170px;
  padding: 40px;
}

.band-column-3 > *{
margin-top: 8px;
}

.band-name-col-3{
  font-weight: 600;
}

.song-links{
  margin-top: 30px;
}
.link-to-create-album-page{
  font-size: 22px;
}

.album-to-band{
  color:black;
}

.couple-albums{
  display: grid;
  grid-template-columns: 325px 325px;
  grid-template-rows: 325px 325px;
  grid-column-gap: 20px;
}

.dropdown {
  position: relative;
  /* display: inline-block; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.search-result-link{
  cursor: pointer;
}

.showcase-pics-container{
  margin: 0px 2px;
  display: flex;
}

.showcase-large-pic{
  height: 39vw;
   filter: brightness(80%);
}
.showcase-pic-main-text{
  color:  white;
  font-size: 2.6vw;
  font-weight: 550;
  position: absolute;
  top: 36vw;
  left: 10vw;
}
.read-more-container{
  color: black;
  position: absolute;
  font-weight: 600;
  top: 40vw;
  left: 10vw;
  border: solid black 2px;
  border-radius: 10px;
}

.read-more{
  text-align: center;
  padding: 1px 4px;
}



.read-more-external-link{
  text-align: center;
  font-style: italic;
  padding: 1px 5px;
  color: #bfb4b4;
  margin-bottom: 2px;
  font-size: 13px;
}

.small-pics-container{
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: .1vw;
  overflow:hidden;
  margin-left: 0 auto;
  height: 39vw;

}

.small-pic{
  height: 12.9vw;
  background-size: auto 13vw;
  filter: brightness(74%);
}

.small-pic-bright{
  height: 12.9vw;
  background-size: auto 13vw;
  filter: brightness(80%);
}

/* .small-pic:hover{
  filter: brightness(80%);
} */

.small-pic-item{
  height: 13vw;
  margin-left: 2px;
}

.small-pic-text{
  position: relative;
  color: white;
  bottom: 75px;
  font-weight: 600;
  padding: 0px 9px;
  font-size: 15px;
  cursor: default;
}
  
#App{
  overflow: hidden;
}

.band-page-content{
  width: 975px;
  margin: 0 auto;
}

.album-title-large{font-size: 28px;}

.album-120{
  width: 120px;
}

.hpad-20{
  width: 20px;
}

.band-photo{
  width: 120px;
}

.band-albums > *{margin-top: 8px;}

.fave-5 {
    width: 97%;
    max-width: 1106px;
    min-height: 400px;
    margin: 0 auto;
}

.fave-5 img{
  cursor: pointer;
}
.fave-single-wrapper{
  float: left;
  width: 18.625678119349%;
  max-width: 206px;
  margin-left: 1.7179023508%;
  height: 400px;
  background-color: #fff;
}

.fave-single-wrapper1{
  float: left;
  width: 18.625678119349%;
  max-width: 206px;
  cursor: pointer;
  height: 400px;
  background-color:#fff;
}

.fave-genre{
  display: block;
  line-height: 18px;
  margin: 0;
  padding: 0 10px;
  color: #999;
  font-size: 12px;
}


.row {
  width: 97%;
  max-width: 1106px;
  margin: 0 auto;
}

.fave-5 img{
  width: 100%;

  max-width: 206px;

  
}
.splash-section-header{
  color: #408ea3;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 18px;
  text-transform: uppercase;}

  .blue-body{
    background-color: #eef2f3;
    padding: 36px 0px;
  }

  .fave-title{
    display: block;
    line-height: 18px;
    margin-top: 9px;
    padding: 0 10px;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
  }

  .fave-title-and-band:hover{
    text-decoration: underline;
  }

  .fave-band-name{
    display: block;
    line-height: 18px;
    padding: 0 10px;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
  }

  .fave-note{
    line-height: 18px;
    font-size: 13px;
    padding: 0 10px;
    font-family: Georgia, Times, serif;
  }

  .playpause-btn {
    height: 52px;
    width: 56px;
    border: 1px solid #d9d9d9;
    background: #fff;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    margin: 10px 10px 0 0;
  }
  
  .playpause-icon {
    font-size: 20px;
  }
  
  .slider{
    position: relative;
    bottom: 11px;
    width: 24px;
    height: 12px;
    box-sizing: border-box;
    border: 1px solid #bebebe;
    background: #fff;
    border-radius: 1px;
    cursor: pointer;
  }

  .music-player-controls{
    display: flex;
  }

  #progress-bar-container{
    padding: 19px 0px;
  }

  .progress-bar{
    width: 250px;
    height: 10px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    margin-top: 10px;
  }

  .track-info{
    font-size: 12px;
  }

  .flex{
    display: flex;
  }


  .prev-btn, .next-btn {
    font-size: 14px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #000;
    margin: 0;
    position: relative;
    top: 2px;
  }

  button:disabled i{
    color: gray;
}

.band-desc{
  font-size: 12px;
}

.more-less{
  color: #0687F5;
  cursor: pointer;
}
.more-less:hover{
  text-decoration: underline;
}

.link{
  cursor: pointer;
}

.link:hover{
  text-decoration: underline;
}

  

  /* .next-btn{
    margin: 0;
  }
  .prev-btn{
    margin-left: 4px;
    margin-right: 0;
  } */
/* 
TODO: 

Work on the modal: make background gray and unclickable,
and make modal closeable.

*/
